<div class="ll-hero">
  <div class="container">
    <div class="grid grid-cols-12 gap-x-6">
      <div class="col-span-12 md:col-span-6 lg:col-span-7 xxl:col-span-6 ll-hero-text">
        <mat-card>
          {{ currentQ }}
          <mat-button-toggle-group name = "selected-answers">
            <div *ngFor="let a of currentA"><mat-button-toggle [value] = "a">{{a}}</mat-button-toggle></div>
          </mat-button-toggle-group>
          <button *ngIf = "currentQindex > 0" mat-raised-button (click)="questionCycle($event,-1)">Back</button>
          <button *ngIf = "currentQindex < quizQuestions.length-1" mat-raised-button (click)="questionCycle($event,1)">Next Question</button>
        </mat-card>
        
        
    </div>
  </div>
</div>